IMAGE_NAME="cobalt"
REPO_ORGANIZATION="xynap"

IMAGE_DESC="Homelab focused version of CoreOS"
IMAGE_KEYWORDS="bootc,oci,linux"

IMAGE_LOGO_URL="https://media.awakening.wiki/wiki/e/e5/T_UI_IconResourceCobaltBarR_D.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
